# 忽略 HBuilder 创建的 .project 文件

.project




# 忽略 eclipse创建的 .metadata/ 文件夹

.metadata/





# 忽略 eclipse创建的 RemoteSystemsTempFiles/ 文件夹

RemoteSystemsTempFiles/




# 忽略 eclipse创建的 Servers/ 文件夹

Servers/



