<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvcDemo:war exploded">
    <output-path>$PROJECT_DIR$/target/springmvcDemo</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvcDemo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-core:1.4.0" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-lang:1.4.0" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.21" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-cache:1.4.0" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-crypto-hash:1.4.0" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-crypto-core:1.4.0" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-crypto-cipher:1.4.0" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-config-core:1.4.0" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-config-ogdl:1.4.0" />
          <element id="library" level="project" name="Maven: commons-beanutils:commons-beanutils:1.9.3" />
          <element id="library" level="project" name="Maven: commons-collections:commons-collections:3.2.2" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-event:1.4.0" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-spring:1.4.0" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-web:1.4.0" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springmvcDemo/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springmvcDemo/web/Web" />
    </root>
  </artifact>
</component>